<%- include('../header') %>

<form method="POST" action="/publicacoes/editar/<%= publicacao.id%>">
        <div class="form-group">
          <label for="publicacoes">Publicações</label>
          <input type="text" class="form-control" id="publicacao" name="publicacao"  placeholder="Digite a publicação" value="<%= publicacao.publicacao %>">
        </div>
        
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>

<%- include('../footer') %>