<form method="POST" action="/publicacoes/editar/<%= publicacao.id%>">
    <input placeholder="Insira o nome da publicação" type="text" name="publicacao" value="<%= publicacao.publicacao %>"/>
    <button>Salvar</button>
</form>