<a href="/publicacoes/nova">Nova publicação</a> <br />

<% publicacoes.forEach(publicacao => { %>
    <%= publicacao.publicacao %> 
    <a href="/publicacoes/editar/<%= publicacao.id %>">Editar</a> <br />
    <a href="/publicacoes/excluir/<%= publicacao.id %>">Excluir</a> <br />
    <% }) %>