<form method="POST" action="/publicacoes/nova">
    <input placeholder="Insira o nome da publicação" type="text" name="publicacao" />
    <textarea placeholder="Insira o conteúdo" type="textarea" name="conteudo" ></textarea>
    <button>Salvar</button>
</form>